* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header {
  width: 100%;
  height: 15vh;
  background-color: #2E29A6;
}

body header nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .icono-perfil {
  width: 50px;
  height: 50px;
  background-image: url("./assets/perfil");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #051259;
  margin-left: 25px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

body header nav .icono-perfil p {
  color: white;
  font-weight: bold;
}

body header nav .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .titulo h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 10px;
}

body header nav .titulo p {
  font-size: 1.5rem;
  color: white;
}

body header nav .menu {
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 50%;
  margin-right: 25px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75vh;
  background-color: white;
}

body main .elemento-taller {
  width: 30%;
  height: 60%;
  background-color: #051259;
  margin: 25px;
  padding: 10px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2rem;
  text-align: center;
}

body main .elemento-taller p:first-child {
  font-size: 3rem;
  color: white;
}

body main .elemento-taller p {
  margin: 5px 0;
}

body main .elemento-taller:hover {
  background-color: #2E29A6;
}

body footer {
  width: 100%;
  height: 10vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer ul li {
  margin: 0 100px;
  list-style: none;
  font-size: 1.5rem;
}

body footer ul li a {
  color: black;
}
/*# sourceMappingURL=styles.css.map */